body {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-weight: 500;
  color: #000;
  /* background-color: rgb(233, 234, 233); */
  background-color: #fff;
}

video {
  display: block;
  margin: auto;
}

/* box shadow from https://www.w3schools.com/css/css3_shadows_box.asp */
.header {
  overflow: hidden;
  background-color: rgb(244, 246, 249);
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.container {
  /* max-width: min(48%, 1000px); */
  max-width: 1000px;
  margin: 50px auto 0px;
  /* background: #fff; */
  /* box-shadow: 2px 2px 7px rgba(100, 100, 100, 0.5); */
}

@media (min-width: 2000px) {
  .container {
    max-width: 48%;
  }
}

/* from http://web.stanford.edu/~jksun/css/main.css */
/* header{width:100%;height:50px;margin-top:0px;text-align:center;background-color:#ffffff;position:fixed;z-index:2} */
div.header {
  line-height: 50px;
}

div.ftheader a {
  text-decoration: none;
}

div.ftsubheader a {
  text-decoration: none;
}

div.ftsubheader a:hover {
  text-decoration: underline
}

div.ftsubheader {
  float: right;
  padding-left: 20px;
  padding-right: 20px
}

div.ftheader {
  display: inline-block;
  color: rgb(105, 105, 105)
}

div.ftsubheader {
  display: inline-block;
  color: rgb(105, 105, 105)
}

div.ftsubheader a:link,
div.ftheader a:link,
div.ftheader {
  display: inline-block;
  color: rgb(105, 105, 105)
}

div.ftsubheader {
  display: inline-block;
  color: rgb(105, 105, 105)
}

div.ftheader {
  float: left;
  padding-left: 15px;
  font-size: 1.17em
}

div.ftsubheader a:visited {
  color: #7c7c7c;
  text-decoration: none
}

div.ftheader a:visited {
  color: #7c7c7c;
  text-decoration: none
}

.intro {
  font-size: 16px;
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 10px;
  /* padding: 20px 0px 20px 50px; */
}

.quote {
  font-family: 'Bitter';
}

.avatar {
  width: 100%;
  /* height: 100%; */
  /* border-radius: 50%; */
  object-fit: cover;
}

.links a {
  text-align: center;
  /* width: 100px; */
  display: inline-block;
  text-decoration: none;
  margin-right: 20pt;
}

.links1 a {
  text-align: center;
  /* width: 100px; */
  text-decoration: none;
}

.pub-item a,
.exp-list a {
  text-decoration: none;
}

.pub-item {
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.paper-info p {
  margin-bottom: 0px;
}

.section-name {
  /* Solid line on top*/
  border-top: 1.5px solid rgb(160, 160, 160);
  padding-top: 5px;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 5px;
}

.exp-list,
.pub-list {
  font-size: 16px;
}

.center-row {
  margin: auto;
}

li {
  list-style: none;
}

footer {
  margin-top: 10px;
  font-size: 10pt;
}

footer p {
  margin-bottom: 0;
}

.body-posts a {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
}

.slides .row {
  margin-top: 10px;
  margin-bottom: 10px;
}

.item {
  margin-bottom: 0.5em;
  display: table;
  page-break-inside: avoid;
}

.date {
  width: 165px;
  display: table-cell;
}

.posttitle {
  display: table-cell;
}

.blog-date {
  letter-spacing: .04em;
  text-transform: uppercase;
  font-size: .85em;
  margin-top: .5em;
  margin-bottom: 1em;
}

.body-posts {
  font-family: 'Helvetica', sans-serif;
  font-weight: 300;
}

.body-posts h1 {
  font-family: "Helvetica", sans-serif;
  /*font-variant: small-caps;*/
  font-weight: 300;
}